/* Skills Section Styles */
.skills {
  padding: 4rem 6rem;
  position: relative;
  overflow: hidden;
  margin: 2rem 0;
  border-radius: 20px;
  scroll-margin-top: 100px;
}

/* Category Styles */
.skills-category {
  margin-bottom: 3rem;
}

.category-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--primary);
  text-align: center;
  margin: 2rem auto;
  padding-left: 1rem;
}

/* Grid Layout */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  margin-bottom: 4rem;
  margin-top: 2.5rem;
}

/* Skill Card Styles */
.skill-card {
  background: rgba(139, 92, 246, 0.05);
  border-radius: 12px;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(139, 92, 246, 0.2);
  backdrop-filter: blur(5px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 5px 5px 0px rgba(57, 77, 255, 0.2);
  transform: translateY(0);
  flex-wrap: wrap;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 7px 7px 0px rgba(20, 110, 207, 0.573);
}

.skill-card:active {
  transform: translateY(-5px);
  box-shadow: 6px 6px 0px rgba(20, 110, 207, 0.573);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.skill-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
}

.skill-icon {
  font-size: 1.2rem;
}

.skill-card h3 {
  margin: 0;
  font-size: 1rem;
  color: var(--text);
  text-align: center;
  width: 100%;
}

/* Light Theme Adjustments */
[data-theme='light'] .skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 7px 7px 0px rgba(57, 77, 255, 0.2);
}

[data-theme='light'] .skill-card:active {
  transform: translateY(-5px);
  box-shadow: 6px 6px 0px rgba(57, 77, 255, 0.2);
}

[data-theme='light'] .skill-card:hover::after {
  box-shadow: 0 0 30px rgba(57, 77, 255, 0.2);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .skills {
    padding: 6rem 3rem;
  }

  .category-title {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
  }

  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .skills {
    padding: 3rem 1.5rem;
  }

  .category-title {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 0.8rem;
  }

  .skill-card {
    padding: 0.8rem 1.2rem;
  }

  .skill-icon {
    font-size: 1.2rem;
  }

  .skill-card h3 {
    font-size: 0.9rem;
  }
} 